## Pymaceuticals Inc.
---

### Analysis

- Add your analysis here.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import sem
# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single DataFrame
combined_study_results_df = pd.merge(study_results, mouse_metadata, on=["Mouse ID"])
3
# Display the data table for preview
combined_study_results_df.head(30)

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25
5,h246,0,45.0,0,Ketapril,Male,13,30
6,p189,0,45.0,0,Ketapril,Male,8,28
7,n923,0,45.0,0,Ketapril,Male,19,30
8,q119,0,45.0,0,Ketapril,Male,17,30
9,f993,0,45.0,0,Naftisol,Male,21,28
10,z234,0,45.0,0,Naftisol,Female,19,27
11,b559,0,45.0,0,Naftisol,Male,20,26
12,y260,0,45.0,0,Ketapril,Female,7,25
13,x930,0,45.0,0,Naftisol,Male,13,26
14,o725,0,45.0,0,Naftisol,Male,4,26
15,z969,0,45.0,0,Naftisol,Male,9,30
16,v835,0,45.0,0,Naftisol,Male,7,29
17,r604,0,45.0,0,Naftisol,Male,7,30
18,n304,0,45.0,0,Naftisol,Male,9,26
19,l700,0,45.0,0,Naftisol,Female,18,27
20,x336,0,45.0,0,Naftisol,Female,4,29
21,l725,0,45.0,0,Naftisol,Female,8,26
22,m133,0,45.0,0,Naftisol,Female,2,26
23,v295,0,45.0,0,Naftisol,Female,2,27
24,a818,0,45.0,0,Naftisol,Female,12,28
25,y601,0,45.0,0,Naftisol,Female,23,25
26,t724,0,45.0,0,Naftisol,Female,2,25
27,k382,0,45.0,0,Ketapril,Male,22,29
28,w422,0,45.0,0,Ketapril,Female,18,26
29,c326,0,45.0,0,Infubinol,Female,18,25

In [2]:
# Checking the number of mice.
total_mice = combined_study_results_df["Mouse ID"].nunique()
total_mice

249

In [3]:
# Optional: Get all the data for the duplicate mouse ID.
#duplicate_rows = combined_study_results_df[combined_study_results_df.duplicated()]
#duplicate_rows

#duplicate_rows = combined_study_results_df[combined_study_results_df.duplicated(subset=["Mouse ID"], keep=False)]
#print(duplicate_rows)

duplicate_mouse_ids = combined_study_results_df.loc[combined_study_results_df.duplicated(subset=['Mouse ID','Timepoint']),'Mouse ID'].unique()
duplicate_mouse_ids

array(['g989'], dtype=object)

In [4]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
cleaned_combined_df =  combined_study_results_df[combined_study_results_df["Mouse ID"].isin(duplicate_mouse_ids)==False]

cleaned_combined_df.shape

#cleaned_combined_df = combined_study_results_df.drop_duplicates(subset=["Mouse ID"], keep="first")

(1880, 8)

In [5]:
## Checking the number of mice in the clean DataFrame
total_mice_cleaned = cleaned_combined_df["Mouse ID"].nunique()
total_mice_cleaned
#total_mice_cleaned = cleaned_combined_df["Mouse ID"].nunique()
#print(total_mice_cleaned)

248

In [19]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
 # Create a bunch of samples, each with sample size of 20

drug_regimen_grouped_df = cleaned_combined_df.groupby(["Drug Regimen"])["Tumor Volume (mm3)"]
drug_regimen_grouped_df.head()

   
    #mean_tumor_volume = np.mean(tumor_volume)
    #median_tumor_volume = np.median(tumor_volume)
    #var_tumor_volume = np.var(tumor_volume,ddof = 0)
    #std_tumor_volume = np.std(tumor_volume,ddof = 0)
    #sem_tumor_volume = [sem]


#summary_statistics_df = pd.DataFrame({"Mean": [mean_tumor_volume], "Median": [median_tumor_volume], "Variance": [var_tumor_volume], 
                                     #"Standard Deviation": [std_tumor_volume]})

#summary_statistics_df.head()
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen:
# mean, median, variance, standard deviation, and SEM of the tumor volume.
# Assemble the resulting series into a single summary DataFrame.

0      45.0
1      45.0
2      45.0
3      45.0
4      45.0
5      45.0
9      45.0
10     45.0
11     45.0
13     45.0
14     45.0
29     45.0
30     45.0
31     45.0
32     45.0
33     45.0
57     45.0
58     45.0
59     45.0
60     45.0
61     45.0
62     45.0
68     45.0
82     45.0
83     45.0
84     45.0
114    45.0
115    45.0
116    45.0
117    45.0
118    45.0
136    45.0
139    45.0
141    45.0
142    45.0
143    45.0
144    45.0
145    45.0
167    45.0
168    45.0
169    45.0
170    45.0
171    45.0
172    45.0
173    45.0
174    45.0
226    45.0
227    45.0
228    45.0
229    45.0
Name: Tumor Volume (mm3), dtype: float64

In [7]:
# A more advanced method to generate a summary statistics table of mean, median, variance, standard deviation,
# and SEM of the tumor volume for each regimen (only one method is required in the solution)

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [8]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using Pandas.

In [9]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using pyplot.

In [10]:
# Generate a pie chart, using Pandas, showing the distribution of unique female versus male mice used in the study

# Get the unique mice with their gender


# Make the pie chart

In [11]:
# Generate a pie chart, using pyplot, showing the distribution of unique female versus male mice used in the study

# Get the unique mice with their gender


# Make the pie chart

## Quartiles, Outliers and Boxplots

In [12]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original DataFrame to get the tumor volume at the last timepoint

In [13]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers.


    # Locate the rows which contain mice on each drug and get the tumor volumes


    # add subset


    # Determine outliers using upper and lower bounds

In [14]:
# Generate a box plot that shows the distribution of the tumor volume for each treatment group.

## Line and Scatter Plots

In [15]:
# Generate a line plot of tumor volume vs. time point for a single mouse treated with Capomulin

In [16]:
# Generate a scatter plot of mouse weight vs. the average observed tumor volume for the entire Capomulin regimen

## Correlation and Regression

In [17]:
# Calculate the correlation coefficient and a linear regression model
# for mouse weight and average observed tumor volume for the entire Capomulin regimen